.FloorMap svg,
.FloorMap img {
  max-width: 100%;
  height: auto;
}

.FloorMap img {
  display: block;
}

[data-highlight='IamThaiPasta'] path#IamThaiPasta,
[data-highlight='Doodee'] path#Doodee,
[data-highlight='NoodlesAndMore'] path#NoodlesAndMore,
[data-highlight='HuaSengHong'] path#HuaSengHong,
[data-highlight='MarugameSeimen'] path#MarugameSeimen,
[data-highlight='Karayama'] path#Karayama,
[data-highlight='SushiDen'] path#SushiDen,
[data-highlight='HongKongNoodle'] path#HongKongNoodle,
[data-highlight='Sutadonya'] path#Sutadonya,
[data-highlight='Kin'] path#Kin {
  animation: 2s FloorMapHighlight linear infinite;
}

.FloorMap:not([data-highlight='IamThaiPasta']) #v_IamThaiPasta,
.FloorMap:not([data-highlight='Doodee']) #v_Doodee,
.FloorMap:not([data-highlight='NoodlesAndMore']) #v_NoodlesAndMore,
.FloorMap:not([data-highlight='HuaSengHong']) #v_HuaSengHong,
.FloorMap:not([data-highlight='MarugameSeimen']) #v_MarugameSeimen,
.FloorMap:not([data-highlight='Karayama']) #v_Karayama,
.FloorMap:not([data-highlight='SushiDen']) #v_SushiDen,
.FloorMap:not([data-highlight='HongKongNoodle']) #v_HongKongNoodle,
.FloorMap:not([data-highlight='Sutadonya']) #v_Sutadonya,
.FloorMap:not([data-highlight='Kin']) #v_Kin {
  opacity: 0;
}

@keyframes FloorMapHighlight {
  from {
    fill: #e7b109;
    animation-timing-function: ease-in-out;
  }
  50% {
    fill: #ce716f;
    animation-timing-function: ease-in-out;
  }
  to {
    fill: #e7b109;
  }
}
