@tailwind base;

@import url('https://fonts.googleapis.com/css?family=K2D&display=swap');
body {
  font-family: 'K2D', Inter;
  font-style: normal;
  font-weight: normal;
}

@tailwind components;

@tailwind utilities;
