@tailwind base;

@import url('fonts.css');
html {
  background: linear-gradient(151.33deg, #de726f 4.46%, #2254b6 90.47%)
    no-repeat center center fixed;
  background-size: cover;
}

.fade-out {
  animation: 'fadeOut' 0.5s linear;
}

.fade {
  transition: opacity 0.5s linear;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@tailwind components;

@tailwind utilities;
